0ad/
Android Open Source Project/
BlueMail/
Code/
GIMP/
Google/
Podman Desktop/
Projucer/
QtProject.conf
QtProject/
Thunar/
autostart/
btop/
chromium/
clangd/
cni/
configstore/
dconf/
discord/
emacs/
fancontrol-gui
flutter/
go/
gtk-3.0/
htop/
libfm/
libreoffice/
lutris/
mimeapps.list
neofetch/
nl.tudelft.tribler.conf
nvim/lua/plugins/image-preview.lua
obs-studio/
pavucontrol.ini
pcmanfm/
pulse/
qBittorrent/
spotify/
tmux/
user-dirs.dirs
user-dirs.locale
via-nativia/
vifm/
vlc/
xfce4/
"Android Open Source Project/"
"Podman Desktop/"
